@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  @apply text-white;
}

:root {
  --header-height: 56px;
  --aside-width: 144px;
  --font-size: 16px;
  --font-color: #fafafa;
  --font-color-data: #ffaa00;
  --flex-gap: 16px;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}
