@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  @apply text-white;
}

:root {
  --header-height: 56px;
  --aside-width: 144px;
  --font-size: 16px;
  --font-color: #fafafa;
  --flex-gap: 16px;
}
